<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Bibelen
        </div>
        <div class="panel-body">
          Bibeltekst
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Kommentar
        </div>
        <div class="panel-body">
          Kommentartekst
        </div>
      </div>
    </div>
  </div>
</div>