<div class="container-fluid">
  <div class="row">
    <ngb-accordion [closeOthers]="true" activeIds="bibelpanel">
    <ngb-panel id="bibelpanel" title="Bibelen">
      <ng-template ngbPanelContent>
        Kapittel 1
        <p>1 Boken med Jesu Kristi slektstavle, Davids Sønn, Abrahams Sønn:</p>
        2 Abraham ble far til Isak, Isak ble far til Jakob, og Jakob ble far til Juda og hans brødre. 3 Med Tamar ble Juda far til
        Peres og Serah. Peres ble far til Hesron, og Hesron ble far til Ram. 4 Ram ble far til Amminadab, Amminadab ble far
        til Naksjon, og Naksjon ble far til Salmon. 5 Med Rahab ble Salmon far til Boas. Med Rut ble Boas far til Obed, Obed
        ble far til Isai, 6 og Isai ble far til David, kongen. Med Urias kone ble kong David far til Salomo. 7 Salomo ble
        far til Rehabeam, Rehabeam ble far til Abia, og Abia ble far til Asa. 8 Asa ble far til Josafat, Josafat ble far
        til Joram, og Joram ble far til Ussia. 9 Ussia ble far til Jotam, Jotam ble far til Akas, og Akas ble far til Hiskia.
        10 Hiskia ble far til Manasse, Manasse ble far til Amon, og Amon ble far til Josjia. 11 På den tiden da de ble bortført
        til Babylon, ble Josjia far til Jojakin og hans brødre. 12 Etter at de var blitt bortført til Babylon, ble Jojakin
        far til Sjealtiel, og Sjealtiel ble far til Serubabel. 13 Serubabel ble far til Abiud, Abiud ble far til Eljakim,
        og Eljakim ble far til Asor. 14 Asor ble far til Sadok, Sadok ble far til Akim, og Akim ble far til Eliud. 15 Eliud
        ble far til Elasar, Elasar ble far til Mattan, og Mattan ble far til Jakob. 16 Jakob ble far til Josef, Marias mann.
        Av henne ble Jesus født, Han som kalles Kristus. 17 Altså er alle slektsledd fra Abraham til David fjorten slektsledd,
        fra David inntil bortførelsen til Babylon fjorten slektsledd og fra bortførelsen til Babylon inntil Kristus fjorten
        slektsledd. 18 Jesu Kristi fødsel skjedde på denne måten: Etter at Hans mor Maria var blitt forlovet med Josef, før
        de levde seksuelt sammen, viste det seg at hun var med barn ved Den Hellige Ånd. 19 Hennes mann, Josef, som var rettferdig,
        ville ikke føre offentlig skam over henne. Derfor ønsket han å løse henne fra forlovelsen i stillhet. 20 Mens han
        grunnet på dette, se, da viste en Herrens engel seg for ham i en drøm og sa: «Josef, Davids sønn, vær ikke redd for
        å ta Maria, din ektefelle, hjem til deg, for det som er unnfanget i henne, er av Den Hellige Ånd. 21 Hun skal føde
        en Sønn, og du skal gi Ham navnet Jesus, for Han skal frelse sitt folk fra deres synder.» 22 Alt dette skjedde for
        at det skulle bli oppfylt som var talt av Herren ved profeten, når han sier: 23 «Se, jomfruen skal bli med barn og
        føde en Sønn, og de skal gi Ham navnet Immanuel,» som er oversatt: «Gud med oss.» 24 Da Josef våknet opp av søvnen,
        gjorde han som Herrens engel hadde pålagt ham, og tok sin kone til seg. 25 Men han hadde ikke seksuelt samliv med
        henne før hun hadde født sin førstefødte Sønn. Og han ga Ham navnet Jesus.
      </ng-template>
    </ngb-panel>
    <ngb-panel id="kommentarpanel" title="Kommentar">
      <ng-template ngbPanelContent>
        <velgkommentar></velgkommentar>
        Kapittel 1
        <p>1 Boken med Jesu Kristi slektstavle, Davids Sønn, Abrahams Sønn:</p>
        2 Abraham ble far til Isak, Isak ble far til Jakob, og Jakob ble far til Juda og hans brødre. 3 Med Tamar ble Juda far til
        Peres og Serah. Peres ble far til Hesron, og Hesron ble far til Ram. 4 Ram ble far til Amminadab, Amminadab ble far
        til Naksjon, og Naksjon ble far til Salmon. 5 Med Rahab ble Salmon far til Boas. Med Rut ble Boas far til Obed, Obed
        ble far til Isai, 6 og Isai ble far til David, kongen. Med Urias kone ble kong David far til Salomo. 7 Salomo ble
        far til Rehabeam, Rehabeam ble far til Abia, og Abia ble far til Asa. 8 Asa ble far til Josafat, Josafat ble far
        til Joram, og Joram ble far til Ussia. 9 Ussia ble far til Jotam, Jotam ble far til Akas, og Akas ble far til Hiskia.
        10 Hiskia ble far til Manasse, Manasse ble far til Amon, og Amon ble far til Josjia. 11 På den tiden da de ble bortført
        til Babylon, ble Josjia far til Jojakin og hans brødre. 12 Etter at de var blitt bortført til Babylon, ble Jojakin
        far til Sjealtiel, og Sjealtiel ble far til Serubabel. 13 Serubabel ble far til Abiud, Abiud ble far til Eljakim,
        og Eljakim ble far til Asor. 14 Asor ble far til Sadok, Sadok ble far til Akim, og Akim ble far til Eliud. 15 Eliud
        ble far til Elasar, Elasar ble far til Mattan, og Mattan ble far til Jakob. 16 Jakob ble far til Josef, Marias mann.
        Av henne ble Jesus født, Han som kalles Kristus. 17 Altså er alle slektsledd fra Abraham til David fjorten slektsledd,
        fra David inntil bortførelsen til Babylon fjorten slektsledd og fra bortførelsen til Babylon inntil Kristus fjorten
        slektsledd. 18 Jesu Kristi fødsel skjedde på denne måten: Etter at Hans mor Maria var blitt forlovet med Josef, før
        de levde seksuelt sammen, viste det seg at hun var med barn ved Den Hellige Ånd. 19 Hennes mann, Josef, som var rettferdig,
        ville ikke føre offentlig skam over henne. Derfor ønsket han å løse henne fra forlovelsen i stillhet. 20 Mens han
        grunnet på dette, se, da viste en Herrens engel seg for ham i en drøm og sa: «Josef, Davids sønn, vær ikke redd for
        å ta Maria, din ektefelle, hjem til deg, for det som er unnfanget i henne, er av Den Hellige Ånd. 21 Hun skal føde
        en Sønn, og du skal gi Ham navnet Jesus, for Han skal frelse sitt folk fra deres synder.» 22 Alt dette skjedde for
        at det skulle bli oppfylt som var talt av Herren ved profeten, når han sier: 23 «Se, jomfruen skal bli med barn og
        føde en Sønn, og de skal gi Ham navnet Immanuel,» som er oversatt: «Gud med oss.» 24 Da Josef våknet opp av søvnen,
        gjorde han som Herrens engel hadde pålagt ham, og tok sin kone til seg. 25 Men han hadde ikke seksuelt samliv med
        henne før hun hadde født sin førstefødte Sønn. Og han ga Ham navnet Jesus.
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  </div>
</div>